body{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.navbar-brand img{
    width: 130px;
    margin-right:auto

}

#navbarSupportedContent{
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.nav-item img{
    width:40px;
    border-radius: 60px;
}

.nav-item  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-secondary{
    border-radius: 40px;
}

.icon{
    width: 24px !important; 
    margin-left: 10px;
    margin-right: 10px;
    
}

.image-topic{
    width: 100%;
    height:auto;
    padding: 0;
    
}

.userpic{
    width: 25px;
    margin-right: 15px;
    overflow: hidden;
}

#user{
    display: flex;
    justify-content: start;
    align-items: center;
}

#heading{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-spacing: -3px;
    padding: 0;
    margin: 0;
    white-space: 1px;
    
}

.description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #817f7f;
}

#info{
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
#date{
    display: inline;
}

.info-icon{
    width: 16px;
    display: inline;
}

#following{
    font-size: 15px;
    font-weight: 700;
    
}